# Utrecht Housing Price Predictor

The goal of the project is to explore how well housing prices can be predicted based on property characteristics and to build a clear end-to-end machine learning pipeline, from data exploration and preprocessing to model training and evaluation.

In [4]:
# import libraries
import pandas as pd

Importing dataset from csv

In [5]:
df = pd.read_csv("utrecht dataset/utrechthousinghuge.csv")
df

,id,zipcode,lot-len,lot-width,lot-area,house-area,garden-size,balcony,x-coor,y-coor,buildyear,bathrooms,taxvalue,retailvalue,energy-eff,monument
0,100426,3528,11.1,5.0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,100871,3528,13.6,5.0,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,100936,3800,16.6,6.7,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,100970,3800,18.6,6.0,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,101191,3800,19.6,6.0,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,993057,3525,12.5,7.9,98.8,142.20,19.8,2,2252,5752,1990,2,648000,765000,1,0
1996,993131,3500,16.5,7.5,123.8,135.00,33.8,2,2650,5768,1992,1,639000,728000,0,0
1997,993444,3525,12.0,6.5,78.0,146.25,19.5,2,2204,5854,2000,2,647000,733000,1,0
1998,993873,3525,13.5,7.6,102.6,136.80,26.6,1,2352,5958,2015,2,629000,694000,1,0
1999,993963,3500,18.1,8.2,148.4,184.50,58.2,2,2814,5954,2012,2,857000,888000,1,0

In [6]:
df.shape

(2000, 16)

In [7]:
df.head()

,id,zipcode,lot-len,lot-width,lot-area,house-area,garden-size,balcony,x-coor,y-coor,buildyear,bathrooms,taxvalue,retailvalue,energy-eff,monument
0,100426,3528,11.1,5.0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,100871,3528,13.6,5.0,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,100936,3800,16.6,6.7,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,100970,3800,18.6,6.0,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,101191,3800,19.6,6.0,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2000 non-null   int64
 1   zipcode      2000 non-null   int64
 2   lot-len      2000 non-null   float64
 3   lot-width    2000 non-null   float64
 4   lot-area     2000 non-null   float64
 5   house-area   2000 non-null   float64
 6   garden-size  2000 non-null   float64
 7   balcony      2000 non-null   int64
 8   x-coor       2000 non-null   int64
 9   y-coor       2000 non-null   int64
 10  buildyear    2000 non-null   int64
 11  bathrooms    2000 non-null   int64
 12  taxvalue     2000 non-null   int64
 13  retailvalue  2000 non-null   int64
 14  energy-eff   2000 non-null   int64
 15  monument     2000 non-null   int64
dtypes: float64(5), int64(11)
memory usage: 250.1 KB

In [10]:
df.columns

Index(['id', 'zipcode', 'lot-len', 'lot-width', 'lot-area', 'house-area',
       'garden-size', 'balcony', 'x-coor', 'y-coor', 'buildyear', 'bathrooms',
       'taxvalue', 'retailvalue', 'energy-eff', 'monument'],
      dtype='object')

In [11]:
df['garden-size'].unique()

array([ 10.5,   8. ,  44.2,  39.6,  45.6,  48.4,  68.3,  85.5,   9.3,
        68.5,  89. ,  32.4,  83.3,   6.6,  11.9,  17.4,  48.9,   8.9,
        60.7,  55.6,  51. ,  20.3,  29.7,   5.1,  21. ,  70. ,  15.8,
        56.1,  44.7,  10.1,  14.6,  29.1,  77. ,  24.7,  43.4,   8.5,
        65.5,  14.3,  75.8,  20.2,   5.7,  30.4,  46.4,  26.2,  79.2,
         9.2,  96.6,  41.4,  17.8,  40.8,  38.9,   6.2,   9.1,   7.5,
        82.1,   8.8,  10.6,  12.4,  19.2,  23.1,  20. ,  83.4,  30.6,
         7.7,  20.5,  11.1,  50.9,   5.6,  27. ,  64.3,  35.2,  31.8,
        44.8,   8.7,  99.6,  10.3,  73.6,  64. ,  29. ,  57.5,  67.7,
        69.8,  25.5,  47.1,  45.4,  36.5,   7. ,  24. ,  23.4,  23. ,
        53. ,   5.2,  24.3,  15.9,  29.2,  47.8,  60.8,  73. ,  44. ,
        79.8,  35.3,  27.5,   8.3, 108.1,  42.7,  25.7,  63.7,  19.5,
        28.1,  42.6,  34.8,  37.8,  41.8,   6.7,   6.4,  51.9,  13.1,
        74.4,   9. ,  46. ,  59.2,  45.5,   6.9,  23.8,  21.6,  39.8,
        12.8,  68. ,  28.7,   5.5,  35. ,  24.8,  22.6,  82.6,  28.8,
        10.7,  17.6,  80.2,  88. ,  25.6,  26.6,  61.1,  54. ,  59.5,
        18. ,  20.9,  31.3,  37.6,  22.1,  43. ,  96.3,  83.6,  10.9,
        38.5, 109.1,  11.7,  58.7,  30.1,  37.4,  10.4,  55.4,  29.9,
        30.2,  31.9,  18.6,  42. ,  59.4,   8.6,  15.5,  71.7,  47.4,
        10.2,  46.9,  35.5,  27.9,  62.4,  84.8,  64.4,  65.8,  65.1,
        58.1,  65.6,  51.5,   7.8,  42.1,  19.6,  50. ,  63.6,  61.2,
        49.5,  67.5,  54.6,   9.9,  13.8,   9.7,  38.6,  22.9,  42.8,
         7.2,  52.7,  47.9,  43.7,  48.8,  46.2,  17.7,  15.3,  54.2,
        32.9,  55.3,  52.4,  92. ,  93.1,  83.2,  17.9,  13.3,   6.5,
        37.7,  67.2,  41.6,   6.1,  37.2,  36. ,  33. ,  26.5,  20.8,
        39.5,  88.4,  12.6,  86.9,  53.1,  16.8,   7.1,  33.8,  32.7,
        56.8,  23.9,  25. ,  40.3,   5.3,  76. ,  23.3,  87. ,  76.4,
        41.9,   9.6,   8.4,  62.8,  36.8,  30.5,  39.7,  22.2,  48.3,
        30.8,  19.8,  39.1,  45.1,  49.6,  34.1,  21.3,  31. ,  62.6,
        73.8,  57.1,  69.7,   7.3,  25.2,  40.5,  21.7,  14.1,  47.6,
        55.2,  62.3,  28.4,  51.8,  43.6,  27.7,  59.8,   5.9,  50.5,
        55.8,  49.3,  66. ,  71.4,  48.2,  10. ,  37.3,  17.3,  26.7,
        28.2,  22.7,  22.4,  47.5,  43.9,  49. ,  48.1,  31.5,  34.2,
        63.8,  11. ,  64.7,  18.5,  31.1,  24.9,  38. ,  78.1,  75.3,
        67.9,  65.3,  11.4,  39. ,  44.5,  18.9,  55. ,  33.6,   9.4,
        36.6,  36.4,   5. ,  32.5,  33.5, 102.7,  40. ,  36.7,  18.2,
        41.3,  53.9,  34.7,  61.4,  79.7,  16.5,  53.5,  42.2,  57.8,
        31.7,  38.4,  35.4,  42.5,  33.2,  29.4,  25.9,  46.8,  66.7,
        44.9,   8.1,  13. ,  14. ,  54.3,  23.2,  79. ,  78.7,  17.1,
        61.5,  68.4,  77.9,  55.1,  42.9,  48.6,  18.4,  59.9,  32.6,
        65.9,  59.3,   6.8,  14.5,  36.3,   5.8,  28.5,  60.1,  17.2,
        29.8,  54.1,   9.8,  35.8,  13.2,  81.3,  40.4,  16.6,  21.8,
        72.7,  57.4,  38.1,  75.6,   7.6,  16.2,  50.7,  33.7,  36.2,
        57. ,  52. ,  58.2,  25.3,  56.2,  26. ,  28.6,  52.5,  92.9,
         7.9,  41.5,  60.4,  57.6,  70.6,  73.1,  11.3,  61.8,  75.5,
        73.7,  32.2,  90.1,  97. ,  26.3,  52.1,  15.4,  38.8,  53.4,
         7.4,  54.4,  39.3,  68.2,  87.4,  83. ,   6.3,  35.7,  44.6,
        82.4,  81.7,  13.7,  61. ,  70.8,  99.2,  30.3,  67.1,  14.7,
        41. ,  58.3,  13.4,  17. ,  92.4,  65. ,  12.3,  80.5,  51.1,
        66.4,  40.2,  58.6,   6. ,  24.6,  22. ,  26.4,  21.1,  11.2,
        85. ,  85.6, 114.5,  23.7,  56.3,  56.7,  38.3,  42.3,  55.9,
        78.4,  49.7,  50.2,  16. ,  34.9,  75.7,  12. ,  37. ,  75.1,
        34.3,  24.1,  38.2,  51.7,  18.7,  11.6,  23.5,  50.8,   5.4,
        12.1,  35.6,  68.9,  50.4,  21.4,  49.4,  53.6,  81. ,  47. ,
        43.5,  29.6, 115.5,  90.2,  81.9,  28. ,   8.2,  27.6,  84.5,
        49.8, 101.7,  91.2,  34.4,  60. ,  39.2,  25.8,  27.4,  52.8,
        35.1,  22.8,  32.1,  45.7,  74.7,  72.8,  18.3,  85.4,  63. ,
        45.8,  58.5,  95. ,  76.5,  66.2,  77.4,  24.5,  82.7,  94.6,
        84.2,  36.1,  15.2,  17.5,  28.9,  60.5, 110.2,  68.1,  57.3,
        74. ,  77.6,  66.3,  26.8,  53.3,  61.6,  34. ,   9.5,  39.4,
        15.1,  80.8,  88.3,  32. ,  54.9,  37.1,  27.3,  22.3,  72.9,
        43.8,  63.1,  83.7,  26.9,  12.5,  52.9,  40.9,  39.9,  69.6,
        48.5,  81.8,  16.3,  80.6,  40.7,  72.1,  27.2,  45.9,  42.4,
        48. ,  11.8,  19.1,  56.4,  24.4,  83.5,  15.6,  68.8, 100.3,
        74.5,  51.2,  91. ,  71.3,  30.7,  74.8,  71.9, 101.8,  75.4,
        81.6,  50.6,  43.1,  25.1,  31.6,  92.2,  71. ,  21.2,  57.7,
       100. ,  72.2,  64.6,  19. ,  74.2,  53.2,  61.9,  74.3,  53.7,
       103.7,  16.9,  44.3,  77.3,  29.5,  35.9,  45.2, 106.7,  24.2,
        46.5,  33.9,  76.8, 107.1,  31.2,  36.9, 105. ,  20.7,  47.7,
        94.8,  83.8,  57.2,  65.4,  93.7,  10.8,  63.4,  54.7,  75.2,
        98.3,  59. ,  50.3,  58. ,  86.4,  20.4,  31.4,  56.6,  59.6,
        79.3,  78. ,  19.4,  70.4,  37.5,  16.7,  65.7,  85.1,  19.3,
        41.2,  40.6,  13.9,  16.4])

In [15]:
df = df.drop(['id', 'zipcode', 'lot-len', 'lot-width'], axis = 1)
df

,lot-area,house-area,garden-size,balcony,x-coor,y-coor,buildyear,bathrooms,taxvalue,retailvalue,energy-eff,monument
0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,98.8,142.20,19.8,2,2252,5752,1990,2,648000,765000,1,0
1996,123.8,135.00,33.8,2,2650,5768,1992,1,639000,728000,0,0
1997,78.0,146.25,19.5,2,2204,5854,2000,2,647000,733000,1,0
1998,102.6,136.80,26.6,1,2352,5958,2015,2,629000,694000,1,0
1999,148.4,184.50,58.2,2,2814,5954,2012,2,857000,888000,1,0

In [18]:
df = df.rename(columns={ 'lot-area': 'lot_area', 'house-area': 'house_area', 'garden-side': 'garden_size', 'x-coor': 'x_coor', 'y-coor': 'y_coor', 'energy-eff': 'energy_eff' })

In [19]:
df

,lot_area,house_area,garden-size,balcony,x_coor,y_coor,buildyear,bathrooms,taxvalue,retailvalue,energy_eff,monument
0,55.5,112.50,10.5,2,2112,5113,1932,1,494000,670000,0,1
1,68.0,112.50,8.0,0,2355,5218,1945,1,504000,675000,0,1
2,111.2,150.75,44.2,2,2656,5200,1946,1,692000,869000,0,1
3,111.6,108.00,39.6,2,2856,5201,1946,1,521000,628000,0,1
4,117.6,108.00,45.6,1,2962,5266,1950,1,526000,610000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,98.8,142.20,19.8,2,2252,5752,1990,2,648000,765000,1,0
1996,123.8,135.00,33.8,2,2650,5768,1992,1,639000,728000,0,0
1997,78.0,146.25,19.5,2,2204,5854,2000,2,647000,733000,1,0
1998,102.6,136.80,26.6,1,2352,5958,2015,2,629000,694000,1,0
1999,148.4,184.50,58.2,2,2814,5954,2012,2,857000,888000,1,0